name: Integration test module

on:
  push:

jobs:
  work-source-identifier-tirs-tests:
    uses: ./.github/workflows/run-int-tests.yml
    with:
      testPath: org.olf.TIRS.WorkSourceIdentifier.*
      outputDirectory: WorkSourceIdentifierTests
      syncViaHarvestEnvVar: true
  id-first-tirs-tests:
    uses: ./.github/workflows/run-int-tests.yml
    with:
      testPath: org.olf.TIRS.IdFirstTIRS.*
      outputDirectory: IdFirstTests
      tirsEnvVar: IdFirst
      syncViaHarvestEnvVar: true
  agreement-tests:
    uses: ./.github/workflows/run-int-tests.yml
    with:
      testPath: org.olf.Agreements.*
      outputDirectory: Agreements
  string-template-tests:
    uses: ./.github/workflows/run-int-tests.yml
    with:
      testPath: org.olf.StringTemplate.*
      outputDirectory: StringTemplate
  general-tests:
    uses: ./.github/workflows/run-int-tests.yml
    with:
      testPath: org.olf.General.*
      outputDirectory: General
  publish-test-results:
    if: always()
    needs: [work-source-identifier-tirs-tests, id-first-tirs-tests, agreement-tests, string-template-tests, general-tests]
    runs-on: ubuntu-latest
    steps:
      - name: 'download test results'
        uses: actions/download-artifact@v4
        with:
          path: testLogs
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: "testLogs/**/*.xml"
